@{
    ViewData["Title"] = "Details";
}

@model DepartmentToReturnDto

<div>
    <div class="form-group">
        <label asp-for="code" class="col-form-label"></label>
        <input readonly asp-for="code" class="form-control" />
        <span asp-validation-for="code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <input readonly asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreationDate" class="col-form-label"></label>
        <input readonly asp-for="CreationDate" class="form-control" />
    </div>
    <br></br>
    <a asp-controller="Department" asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

