@* 
@{
    ViewData["Title"] = "Edit";
}

@model UpdateEmoloyeeDto

<h2>Edit Employee</h2>
<div>
<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input  asp-for="Id" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input  asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input  asp-for="Age" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Adress" class="col-form-label"></label>
    <input  asp-for="Adress" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="salary" class="col-form-label"></label>
    <input  asp-for="salary" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input  asp-for="Email" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input  asp-for="PhoneNumber" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="EmployeeType" class="col-form-label"></label>
    <input  asp-for="EmployeeType" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Gender" class="col-form-label"></label>
    <input  asp-for="Gender" class="form-control" />
</div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>
 *@
@{
    ViewData["Title"] = "Edit";
}

@model UpdateEmoloyeeDto
<h2>Edit Employee</h2>
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Id" class="col-form-label"></label>
        <input asp-for="Id" class="form-control" readonly /> <!-- Made readonly -->
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adress" class="col-form-label"></label> <!-- Fixed "Address" typo -->
        <input asp-for="Adress" class="form-control" /> <!-- Fixed "Address" typo -->
    </div>
    <div class="form-group">
        <label asp-for="salary" class="col-form-label"></label> <!-- Capitalized Salary -->
        <input asp-for="salary" class="form-control" /> <!-- Capitalized Salary -->
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EmployeeType" class="col-form-label"></label>
        <input asp-for="EmployeeType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-form-label"></label>
        <input asp-for="Gender" class="form-control" />
    </div>
    <div class="form-group">
        @if (ViewData["EmpUpdateimage"] is not null)
        {
            <img src="~/Files/Images/@ViewData["EmpUpdateimage"]" alt="Employee Image" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
        }
        else
        {
            <p>No image available.</p>
        }
    </div>

    <div class="form-group">
        <label asp-for="image">Profile Image:</label>
        <input type="file" asp-for="image" class="form-control" accept=".png, .jpg, .jpeg" />
    </div>


    <br />
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>