@model SignUpview
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/views/Shared/_Authentication.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignUp" method="post">
			<input class="text" asp-for ="FName" placeholder="First Name" required="">
			<input class="text" asp-for="LName" placeholder="Last Name" required="">
			<input class="text" asp-for= "Username" placeholder="Username" required="">
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" class="checkbox" asp-for="RememberMe" required ="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do have an Account? <a href="SignIn"> SignIN Now!</a></p>
	</div>
</div>
